<a href="https://colab.research.google.com/github/Alizabatool4268/pythonAssignment4/blob/main/PythonAssignment4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# List Methods Practice

1. Create and Modify Lists  

o Create a list called fruits with the items: "apple", "banana", "orange"

o Add "grape" to the end of the list using an appropriate method

o Insert "mango" at position 2 in the list

o Remove "banana" from the list

o Print the final list

In [10]:
fruits=["apple","banana","orange"]
fruits.append("grape")
print("added grape",fruits)
fruits.insert(2,"mango")
print("added mango",fruits)
fruits.remove("banana")
print("removed banana",fruits)

added grape ['apple', 'banana', 'orange', 'grape']
added mango ['apple', 'banana', 'mango', 'orange', 'grape']
removed banana ['apple', 'mango', 'orange', 'grape']

2. List Operations

o Create a list numbers with values: 10, 20, 30, 40, 50

o Create a second list more_numbers with values: 60, 70, 80

o Combine both lists into a new list called all_numbers

o Make a copy of all_numbers called numbers_copy

o Reverse the order of numbers_copy

o Print both all_numbers and numbers_copy

In [24]:
numbers =[10,20,30,40,50]
more_numbers= [60,70,80]
all_numbers = numbers+more_numbers
print("all numbers",all_numbers)
copy_numbers= all_numbers[:]
print("copy numbers",copy_numbers)
copy_numbers.reverse()
print("Reversed numbers",copy_numbers)

#Print both all_numbers and numbers_copy
print("all numbers",all_numbers)
print("copy numbers",copy_numbers)

all numbers [10, 20, 30, 40, 50, 60, 70, 80]
copy numbers [10, 20, 30, 40, 50, 60, 70, 80]
Reversed numbers [80, 70, 60, 50, 40, 30, 20, 10]
all numbers [10, 20, 30, 40, 50, 60, 70, 80]
copy numbers [80, 70, 60, 50, 40, 30, 20, 10]

3. Sorting and Counting  

o Create a list scores with these values: 85, 92, 78, 65, 92, 85, 74

o Sort the list in ascending order

o Sort the list in descending order

o Count how many times 92 appears in the list

o Find and print the highest and lowest scores

o Print the sorted list

In [42]:
scores=[85, 92, 78, 65, 92, 85, 74]
scores.sort()
print("ascending order",scores)
scores.sort(reverse=True)
print("descending order",scores)
print("92 occurs",scores.count(92),"times")
highest_score=max(scores)
print("highest score",highest_score)
lowest_score=min(scores)
print("lowest score",lowest_score)

print(scores)

ascending order [65, 74, 78, 85, 85, 92, 92]
descending order [92, 92, 85, 85, 78, 74, 65]
92 occurs 2 times
hiegest score 92
lowest score 65
[92, 92, 85, 85, 78, 74, 65]

4. List Manipulation  

o Create a list letters with values: "a", "b", "c", "d", "e"

o Use slicing to create a new list with only the first three letters

o Use slicing to create another list with only the last two letters

o Find and print the index of "c" in the list

o Replace "d" with "z" in the original list

o Print the modified list

In [52]:
first_five_alphabets =[ "a", "b", "c", "d", "e"]
new_list_one = first_five_alphabets[0:3]
print("new_list_one",new_list_one)
new_list_two = first_five_alphabets[3:5]
print(new_list_two)
first_five_alphabets.index("c")
first_five_alphabets[3]="z"
print(first_five_alphabets)

new_list_one ['a', 'b', 'c']
['d', 'e']
['a', 'b', 'c', 'z', 'e']

# Dictionary Methods Practice
1. Create and Access Dictionaries  

o Create a dictionary called student with these key-value pairs:

 "name": "John"
 "age": 20
 "grade": "A"
 "courses": ["Math", "Science", "History"]

o Print the student's name

o Print the list of courses

o Add a new key-value pair: "email": "john@example.com"

o Print the entire dictionary

In [57]:
student= {
    "name": "John",
    "age": 20 ,
    "grade": "A",
    "courses": ["Math", "Science", "History"]
}

print("student name",student["name"])
print("cources", student["courses"])
student["email"]= "john@example.com"
print("whole dictionary",student)

student name John
cources ['Math', 'Science', 'History']
whole dictionary {'name': 'John', 'age': 20, 'grade': 'A', 'courses': ['Math', 'Science', 'History'], 'email': 'john@example.com'}

2. Modify Dictionary Values  

o Change the student's age to 21

o Add a new course "Computer Science" to the courses list

o Update the grade to "A+"

o Print the modified dictionary

In [66]:
student= {
    "name": "John",
    "age": 20 ,
    "grade": "A",
    "courses": ["Math", "Science", "History"]
}

student["age"]= 21
print("updated age",student)
student["courses"].append("computer science")
print(student)
student["grade"] = "A+"
print("modified dictionary",student)

updated age {'name': 'John', 'age': 21, 'grade': 'A', 'courses': ['Math', 'Science', 'History']}
{'name': 'John', 'age': 21, 'grade': 'A', 'courses': ['Math', 'Science', 'History', 'computer science']}
modified dictionary {'name': 'John', 'age': 21, 'grade': 'A+', 'courses': ['Math', 'Science', 'History', 'computer science']}

3. Dictionary Operations  

o Create a second dictionary student_address with these key-value pairs:  
 "street": "123 College Ave"
 "city": "New York"
 "zip": "10001"

o Combine both dictionaries into a new dictionary called student_info

o Remove the "zip" key from student_info

o Check if "phone" exists in the dictionary

o Print the final dictionary

In [75]:
student_address={
    "street": "123 College Ave",
    "city": "New York",
    "zip": "10001"
}
student_info= {
    **student , **student_address
}

print(student_info)
student_address.pop("zip")
print("removed zip",student_address)

if "phone" in student_info:
  print("phone present")
else:
  print("phone not present")

print("final dictionary",student_info)

{'name': 'John', 'age': 21, 'grade': 'A+', 'courses': ['Math', 'Science', 'History', 'computer science'], 'street': '123 College Ave', 'city': 'New York', 'zip': '10001'}
removed zip {'street': '123 College Ave', 'city': 'New York'}
phone not present
final dictionary {'name': 'John', 'age': 21, 'grade': 'A+', 'courses': ['Math', 'Science', 'History', 'computer science'], 'street': '123 College Ave', 'city': 'New York', 'zip': '10001'}

4. Dictionary Methods  

o Create a dictionary word_count with these key-value pairs:  
 "hello": 5
 "world": 10
 "python": 15

o Get all keys and print them as a list

o Get all values and print them as a list

o Get all key-value pairs and print them

o Make a copy of the dictionary

o Clear the original dictionary

o Print both dictionaries to verify one is empty and one is a copy

In [83]:
word_count ={
    "hello": 5 ,
    "world": 10 ,
    "python": 15
}
key = list(word_count.keys())
print("all keys: ",key)
value = list(word_count.values())
print("all values: ", value)
items = word_count.items()
print("key value pairs: ",items)
word_count_copy = word_count.copy()
word_count.clear()

print("Original Dictionary:" ,word_count)
print("Copy Dictionary:" ,word_count_copy)

all keys:  ['hello', 'world', 'python']
all values:  [5, 10, 15]
key value pairs:  dict_items([('hello', 5), ('world', 10), ('python', 15)])
Original Dictionary: {}
Copy Dictionary: {'hello': 5, 'world': 10, 'python': 15}

# Shopping Discount Calculator

## Tasks

1. Set up the initial variables:  
o purchase_amount: The total cost of items in the shopping cart
o is_loyalty_member: Boolean (True/False) indicating if the customer is a
loyalty member
o day_of_week: A string with the current day (e.g., "Monday", "Tuesday", etc.)
o is_holiday_season: Boolean indicating if it's currently a holiday shopping
season
2. Apply discount rules using if statements:  
o If purchase amount is greater than $100, apply a 10% discount
o If purchase amount is greater than $50 (but less than or equal to $100),
apply a 5% discount
o If the customer is a loyalty member, apply an additional 5% discount
o If it's a weekend (Saturday or Sunday), apply an additional 2% discount
o If it's a holiday season, apply an additional 8% discount
3. Calculate and display:  
o The original purchase amount
o Each discount that was applied and its amount
o The final price after all discounts

In [88]:
purchase_amount = int(input("Enter your purchse amount"))
is_loyalty_member = True
day_of_week= "Sunday"
is_holiday_season = True


final_price = purchase_amount
# intial total disocunt
total_discount = 0

print("Original Purchase Amount: $", purchase_amount)

if purchase_amount > 100:
  discount = purchase_amount * 0.10
  print("10% discount  ",discount )
  total_discount +=discount
  final_price -= discount

elif purchase_amount > 50:
  discount = purchase_amount * 0.5
  print("5% discount",discount )
  total_discount +=discount
  final_price -= discount

if is_loyalty_member:
    loyalty_discount = purchase_amount * 0.05
    print("5% loyalty member discount: $", loyalty_discount)
    total_discount += loyalty_discount
    final_price -= loyalty_discount

if day_of_week == "Saturday" or day_of_week == "Sunday":
  weekend_discount = purchase_amount * 0.02
  print("2% weekend discount: $ ",weekend_discount)
  total_discount +=weekend_discount
  final_price -= weekend_discount
if is_holiday_season:
  holiday_discount = purchase_amount * 0.08
  print("8% holiday season discount: $", holiday_discount)
  total_discount += holiday_discount
  final_price -= holiday_discount

print("\nTotal Discount: $",total_discount)
print("Final Price after discounts: $",final_price)

Enter your purchse amount100
Original Purchasen Amount: $ 100
5% discount 50.0
5% loyalty member discount: $ 5.0
2% weekend discount: $  2.0
8% holiday season discount: $ 8.0

Total Discount: $ 65.0
Final Price after discounts: $ 35.0

# For Loop Assignment - Number Patterns

1. Pattern 1: Counting Numbers  
o Print numbers from 1 to 10 on a single line.

In [89]:
num=1
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

Pattern 2: Multiplication Table  
 Create a multiplication table for the number 5 (from 1 to 10).

In [92]:
for i in range(1,11):
  print(f" 5 * {1} = {i*5}")

 5 * 1 = 5
 5 * 1 = 10
 5 * 1 = 15
 5 * 1 = 20
 5 * 1 = 25
 5 * 1 = 30
 5 * 1 = 35
 5 * 1 = 40
 5 * 1 = 45
 5 * 1 = 50

While Loop Assignment - Interactive Game

Write a Python program that:
1. Sets a "secret number" (you can choose any number between 1 and 50)
2. Asks the player to guess the number
3. Tells the player if their guess is too high or too low
4. Keeps asking until the player guesses correctly
5. Keeps track of how many guesses it took

In [95]:
import random

def number_guessing_game():
    number = random.randint(1, 50)
    print("Guess a number between 1 and 50...\n")
    # asks user to enter number
    guess_message = "Enter a guess Number: "
    guess = int(input(guess_message))
    guess_count = 1 #track guesses
    # use while loops
    while guess != number:
        if guess < number:
            print("Your guess is too low .")
        else:
            print("Your guess is too high.")

        print()
        guess = int(input("Enter a new guess: "))
        guess_count += 1

    print(f"\n Congrats! The number was {number}.")
    print(f"You guessed it in {guess_count} tries!")

# Run the game
if __name__ == "__main__":
    number_guessing_game()

Guess a number between 1 and 50...

Enter a guess Number: 25
Your guess is too low .

Enter a new guess: 35
Your guess is too high.

Enter a new guess: 31
Your guess is too low .

Enter a new guess: 34

 Congrats! The number was 34.
You guessed it in 4 tries!

# Student Grade Management System

1. Create a list to store information about students
2. Each student should be represented as a dictionary with the following keys:  
o name: The student's full name
o id: A unique student ID number
o grades: Another dictionary containing course names as keys and grades as
values
3. Your program should:  
o Add at least 3 students to the list
o Add grades for at least 3 courses for each student
o Display all students with their grades
o Calculate and display the average grade for each student
o Find and display the student with the highest average grade
o List all students with an average grade above 80
o Calculate and display the average grade for a specific course
o Add a new student to the system

In [98]:
students = [
    {
        "name": "Faryal",
        "id": 34552,
        "grades": {
            "Math": 84,
            "English": 87,
            "Science": 77
        }
    },
    {
        "name": "Ibaad",
        "id": 23567,
        "grades": {
            "Math": 96,
            "English": 78,
            "Science": 77
        }
    },
    {
        "name": "ALiza",
        "id": 21498,
        "grades": {
            "Math": 67,
            "English": 75,
            "Science": 82
        }
    }
]

# students with their grades
print("\nAll Students with their Grades:")
for student in students:
    print(f"Student Name: {student['name']} Student Id: (ID: {student['id']}) Student Grades: {student['grades']}")

# display  Average grade for each student
print("\nAverage Grade per Student:")
highest_avg = 0
top_student = None
for student in students:
    grades = student["grades"].values()
    average = sum(grades) / len(grades)
    print(f"{student['name']}: {average:.2f}")
# finding the top student
    if average > highest_avg:
        highest_avg = average
        top_student = student["name"]

# Student with highest average
print(f"\nTop Student: {top_student} with average {highest_avg}")

# Students with average above 80
print("\nStudents with average > 80:")
for student in students:
    grades = student["grades"].values()
    average = sum(grades) / len(grades)
    if average > 80:
        print(f"{student['name']}")

# Average grade for a specific course
course = "Math"
total = 0
count = 0
for student in students:
    if course in student["grades"]:
        total += student["grades"][course]
        count += 1
if count > 0:
    print(f"\nAverage grade in {course}: {total / count:.2f}")
else:
    print(f"\nNo grades found for course: {course}")

# Add a new student in student list
new_student = {
    "name": "Alaya",
    "id": 21234,
    "grades": {
        "Math": 88,
        "English": 78,
        "Science": 83
    }
}
# use append method to add new studnet in list
students.append(new_student)
print(f"\nNew student add successfully:  {new_student['name']}")

All Students with their Grades:
Student Name: Faryal Student Id: (ID: 34552) Student Grades: {'Math': 84, 'English': 87, 'Science': 77}
Student Name: Ibaad Student Id: (ID: 23567) Student Grades: {'Math': 96, 'English': 78, 'Science': 77}
Student Name: ALiza Student Id: (ID: 21498) Student Grades: {'Math': 67, 'English': 75, 'Science': 82}

Average Grade per Student:
Faryal: 82.67
Ibaad: 83.67
ALiza: 74.67

Top Student: Ibaad with average 83.66666666666667

Students with average > 80:
Faryal
Ibaad

Average grade in Math: 82.33

New student add successfully:  Alaya